* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
